<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>管理CloudDisk</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="/static/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/fileinput.min.css"/>

    <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/static/js/fileinput.min.js"></script>
    <script type="text/javascript" src="/static/js/locales/zh.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</head>
<body>
<header th:include="commons::header"></header>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-10 col-lg-11">
            <form id="addForm" th:object="${user}" method="post"
                  class="form-horizontal"
                  th:action="@{/user/add}">
                <div class="form-group">
                    <input hidden="hidden" th:field="*{id}" th:value="*{id}"/>
                    <label class="col-lg-3 control-label">昵称</label>
                    <div class="col-lg-5">
                        <input th:field="*{nickname}" th:value="*{nickname}" type="text" class="form-control"
                               name="nickname" placeholder="请输入昵称"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">用户名</label>
                    <div class="col-lg-5">
                        <input th:field="*{username}" th:value="*{username}" type="text" class="form-control"
                               name="userName" placeholder="请输入用户名"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">密码</label>
                    <div class="col-lg-5">
                        <input th:field="*{password}" th:value="*{password}" type="password" class="form-control"
                               name="passWord" placeholder="请输入密码"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">电子邮箱</label>
                    <div class="col-lg-5">
                        <input th:field="*{email}" th:value="*{email}" type="text" class="form-control" name="email"
                               placeholder="请输入电子邮箱"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <button type="submit" class="btn btn-primary" name="submit"
                                value="submit">提交
                        </button>
                        <a type="button" class="btn btn-info" id="cancelBtn"
                                th:href="@{/user}">取消
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
    
</body>
</html>








