<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<title>出错了</title>
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

</head>
<body>
	<script type="text/javascript">
		var time = 5; //时间,秒
		function Redirect() {
			window.location = "${pageContext.request.contextPath}/index.jsp";
		}
		var i = 0;
		function dis() {
			document.all.s.innerHTML = "****** 错误信息： ${globalmessage} ******   "
					+ (time - i) + "秒后自动跳往主页";
			i++;
		}
		timer = setInterval('dis()', 1000); //显示时间
		timer = setTimeout('Redirect()', time * 1000); //跳转
	</script>

	<div class="container">
		<span id="s"></span>
	</div>
</body>
</html>