<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>VIP播放器</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/static/css/bootstrap.css}"/>
    <link rel="stylesheet" th:href="@{/static/css/video-js.min.css}"/>
    <script type="text/javascript" th:src="@{/static/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/video.min.js}"></script>
    <style type="text/css">
        .video-search, .video-area {
            position: relative;
            padding: 0 0 70% 0;
            background-color: #000000;
            color: #ac2925;
        }

        .div-inline {
            float: left;
            display: inline;
        }
    </style>
    <script>
        videojs.options.flash.swf = "js/video-js.swf";
    </script>
    <script type="text/javascript">
        $(function () {
            //window.history.back(-1);
            $("#searchbt").click(function () {
                var searchvalue = $("#searchValue").val();
                var searchengine = $("#searchengine").val();
                $(".video-search").html('<iframe id="search-box" style="position: absolute" height="100%" width="100%" src='
                    + searchengine
                    + searchvalue
                    + ' frameborder="0" border="0" marginwidth="0" marginheight="0" allowfullscreen="true" sandbox="allow-scripts allow-same-origin allow-popups"></iframe>');
                /*$("#search-box").attr("src", searchengine + searchvalue);*/
            });

            $("#vipbt").click(function () {
                var url = $("#vipSource").val();
                var api = $("#apis").val();
                $(".video-area").html('<iframe id="play-box" style="position: absolute" height="100%" width="100%" src='
                    + api
                    + url
                    + ' frameborder="0" border="0" marginwidth="0" marginheight="0" scrolling="no" allowfullscreen="true"></iframe>');
                //获取视频名
                var htmlobj = $.ajax({
                    url: "/getTitle?url=" + url,
                    async: false
                });
                $("title").text(htmlobj.responseText);
                $("#title").text(htmlobj.responseText);
            });
            document.onkeydown = function (e) {
                var ev = (typeof event !== 'undefined') ? window.event : e;
                if (ev.keyCode === 13 && document.activeElement.id === "searchValue") {
                    $("#searchbt").click();
                } else if (ev.keyCode === 13 && document.activeElement.id === "vipSource") {
                    $("#vipbt").click();
                }
            };

            $(".col-lg-6 .btn").click(function () {
                var searchValue = $("#searchValue").val();
                var searchengine = $("#searchengine").val();
                var list = '';
                $.ajax({
                    type: "get",
                    url: "/getVideoItem?url=" + searchengine + encodeURI(encodeURI(searchValue)),
                    datatype: "json",
                    async: false,
                    success: function (data) {
                        for (var index in data) {
                            // target='" + data[index] + "'
                            list += '<div class="col-sm-1 col-xs-1"><a href="javascript:void(0);" onclick=playVideo(\'' + data[index] + '\')>' + index + '</a></div>';
                        }
                    }
                });
                $(".col-lg-6 .result_list").html(list);
            })
        });

        function playVideo(url) {
            $("#vipSource").val(url);
            $("#vipbt").click();
        }
    </script>
</head>
<body>
<header th:include="commons::header"></header>
<div class="container-fluid">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
            <span class="input-group-btn">
            <select id="searchengine" class="btn btn-default dropdown-toggle">
                <option th:each="searchengine:${searchengines}" th:value="${searchengine.value }" th:text="${searchengine.key }"
                        th:selected="${searchengineStat.first}">搜索引擎</option>
            </select>
            </span>
            <input id="searchValue" type="text" class="form-control" onfocus="this.select()"/>
            <span id="searchbt" class="input-group-addon btn">视频搜索</span>
        </div>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <div class="input-group">
            <div class="input-group-btn">
                <select  id="apis" class="btn btn-default dropdown-toggle">
                    <option th:each="api:${apis }" th:value="${api }" th:text="'解析'+${apiStat.count }">解析地址</option>
                </select>
            </div>
            <input id="vipSource" type="text" class="form-control" onfocus="this.select()"
                   value="视频链接" th:value="${videoInfo.get('videoAddress')}"/><span
                id="vipbt" class="input-group-addon btn">立即播放</span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <h4 id="title" th:text="${videoInfo.get('videoName')}">视频名称</h4>
            <div class="video-search"></div>
        </div>
        <div class="col-lg-6">
            <div class="container-fluid row">
                <div class="col-sm-2 col-xs-2"><span class="btn">视频列表</span></div>
                <div class="result_list col-sm-10 col-xs-10"></div>
            </div>
            <div class="video-area"></div>
        </div>
    </div>
</div>
</body>
</html>